@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --dark-primary: #000;
    --dark: #262626;
    --primary: #54822f;
    --white: #fff;
    --white-section: #f2f2f3;
    --green-title: #828e00;
    --text-primary: rgb(120, 120, 120);
    scroll-behavior: smooth;
}

::selection {
    background: var(--primary);
    color: var(--white);
}

body {
    overflow-x: hidden;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 40px 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    z-index: 1000;
    transition: 0.4s;
}
.nav.active {
    padding: 0;
    box-shadow: 0 1px 4px var(--dark-primary);
}

.icon-menu {
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: none;
    background: #fff;
    box-shadow: 0 0 15px var(--dark-primary);
    padding: 0;
    border-radius: 5px;
    width: 40px;
}

.icon img {
    width: 120px;
    margin-bottom: 20px;
}

ul.menu {
    display: flex;
    list-style-type: none;
    margin: 20px 0;
    transition: all 0.5s;
}

ul.menu.menu-active {
    transform: translateX(0);
}

.menu li.link-nav {
    border-radius: 10px;
    transition: 0.3s;
    margin: 0 2px;
    position: relative;
}

.menu li.link-nav:hover {
    background: var(--primary);
}

.menu li.link-nav:hover > a {
    color: var(--white);
}

.menu li.link-nav.link-active {
    background: var(--primary);
}
.menu li.link-nav.link-active > a {
    color: var(--white);
}
.menu li.link-nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--dark);
    padding: 10px 20px;
}

ul.sub-menu {
    display: none;
    position: absolute;
    width: 150%;
    z-index: 1000;
    background: var(--white-section);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu li.link-nav:hover > ul.sub-menu {
    display: block;
}

ul.sub-menu li {
    display: block;
    overflow: hidden;
}

ul.sub-menu li:hover {
    background: var(--white);
}
ul.sub-menu li a {
    display: block;
}

ul.menu li.link-nav .caret {
    display: none;
    position: relative;
    margin-left: 8px;

    font-size: 1.5rem;
}

.content-landing {
    margin-top: 220px;
}

header {
    height: 100vh;
    background: url("/img/team.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.content-header {
    width: 100%;
    height: 100%;
    background: #ffefba;
    background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 239, 186, 0.7)
    );
}

.content-text-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header h1 {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: var(--dark);
}

.content-header h1 a {
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #372f3a;
    letter-spacing: 1px;
}

.content-header h1 a:hover {
    transform: scale(1.1);
}

.content-header h6 {
    color: var(--dark-primary);
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 20px;
}

.btn-header {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);

    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-header:hover {
    background: var(--primary);
    color: var(--white);
}

section {
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
}

section:nth-child(odd) {
    background: var(--white);
}

section:nth-child(even) {
    background: var(--white-section);
}

section h1 {
    color: var(--primary);
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

section h1::before,
section h1::after {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 7px;
    width: 100px;
    height: 2px;
    margin: 0 10px;
    background: var(--primary);
}

.row-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}

.card-services {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    transition: background 0.3s, transform 0.3s;
    border-radius: 10px;
}

.card-services:hover {
    background: var(--primary);
    transform: translateY(-10px);
}

.card-services:hover > * {
    color: var(--white);
}

.card-services:hover .btn-card-service {
    background: var(--white);
    color: var(--primary);
}

.card-services img {
    border-radius: 50%;
    box-shadow: 0 0 5px var(--dark-primary), 0 0 2px var(--dark-primary);
    width: 150px;
}

.card-services h3 {
    color: var(--green-title);
    margin: 10px 0;
    text-align: center;
}

.card-services p {
    color: var(--text-primary);
    font-size: 15px;
}
.card-services p::after {
    content: "";
    display: block;
    margin-bottom: 80px;
}

.card-services a.btn-card-service {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
    position: absolute;
    bottom: 10px;
}

#bienvenidos {
    min-height: 75vh;
}

.container-bienvenidos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-bienvenidos img {
    width: 40%;
    border-radius: 10px;
}
.container-bienvenidos-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container-bienvenidos-text h3 {
    font-size: 28px;
    margin-bottom: 10px;
    color: var(--dark);
    font-weight: 500;
    font-style: italic;
}
.container-bienvenidos-text h4 {
    color: #3e9100;
    font-weight: 300;
    margin-bottom: 10px;
    font-style: italic;
}

.container-bienvenidos-text p {
    color: var(--text-primary);
    font-weight: 500;
}

.indicadores-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.card-indicador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-indicador h5 {
    text-align: center;
    color: var(--text-primary);
}

.blog-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.card-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.card-header-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-header-blog img {
    width: 300px;
    height: 180px;
    border-radius: 12px;
    border: 1px solid var(--green-title);
}

.card-header-blog h6 {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
}

.card-header-blog h6 a {
    text-decoration: none;
    color: var(--dark);
}
.card-header-blog h6 a:hover {
    text-decoration: underline;
}

.card-blog p {
    font-size: 15px;
}

.btn-blog {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-blog:hover {
    background: rgb(69, 104, 40);
}

footer {
    height: 40vh;
    margin: 0 auto;
    color: var(--white);
}

.main-content-footer {
    padding: 20px 85px;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.title-footer {
    text-align: center;
}

.bx-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.col-1-footer {
    display: grid;
    grid-template-columns: 340px 250px;
    column-gap: 40px;
}

.content-col-1-footer h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}
.content-col-1-footer ul li a {
    text-decoration: none;
    color: var(--white);
}

.col-2-footer {
    display: grid;
    grid-template-columns: 120px 400px;
    column-gap: 20px;
}
.col-2-footer img {
    width: 120px;
    position: relative;
    top: 20px;
}

.content-col-2-footer h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.copyright {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.social a {
    margin: 0 10px;
    padding: 10px;
    transition: all 0.4s;
    border-radius: 50%;
    border: 1px solid var(--white);
    color: var(--white);
    display: inline-block;
}
.social i {
    font-size: 20px;
}

.social a:hover {
    background: var(--white);
    transform: translateY(-5px);
}
.social a:hover > i {
    color: var(--dark-primary);
}

.container-vacantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.card-vacante {
    box-shadow: 0 0 3px var(--dark-primary);
    margin-top: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-vacante-title {
    font-size: 24px;
    font-style: italic;
}

.card-vacante-description {
    font-size: 18px;
}

.card-vacante-puestos {
    font-size: 14px;
    margin-top: 20px;
}

.card-vacante-ciudades {
    margin-top: 5px;
}

.list-ciudades-vacante {
    list-style-type: none;
}

.bx-btn-vacante {
    display: flex;
    justify-content: flex-end;
}

.btn-vacante {
    background: var(--primary);
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.3s;
}

.btn-vacante:hover {
    background: rgb(69, 104, 40);
}

header.trabaja-nosotros {
    height: 40vw;
    background: url("/img/equipo.jpg");
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-trabaja-nosotros {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.container-trabaja-nosotros h1 {
    font-size: 80px;
    color: var(--primary);
    opacity: 0.9;
    transition: 0.5s;
    position: relative;
}

.container-trabaja-nosotros:hover {
    background: rgba(84, 130, 47, 0.5);
}

.container-trabaja-nosotros:hover > h1 {
    color: var(--white);
    opacity: 1;
}

#trabaje-nosotros h2,
#trabaje-nosotros h3 {
    text-align: center;
    color: var(--text-primary);
    font-size: 30px;
}
#trabaje-nosotros h2 {
    font-weight: 500;
}

#trabaje-nosotros h3 {
    font-weight: 400;
}

#trabaje-nosotros p {
    margin-bottom: 20px;
}

.form-contact-with-our {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-contact-with-our input,
.form-contact-with-our select {
    background: var(--white-section);
    border: 0.5px solid #cacad1;
    padding: 10px 10px 10px 10px;
    outline: none;
    color: var(--text-primary);
    display: block;
    width: 100%;
}

.form-contact-with-our select {
    align-self: start;
}

.form-contact-with-our input::placeholder,
.form-contact-with-our select > option {
    color: var(--text-primary);
}
.form-contact-with-our select > option:checked {
    display: none;
}

.form-contact-with-our input[type="file"] {
    border: none;
}

.form-contact-with-our label {
    display: block;
    color: var(--text-primary);
}

.form-contact-with-our .group label {
    margin-bottom: 10px;
}

.form-contact-with-our .group input[type="checkbox"] {
    margin-right: 10px;
    display: inline;
    width: auto;
}

.form-contact-with-our .group button {
    background: var(--primary);
    color: var(--white);
    font-size: 12px;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.form-contact-with-our .group button:hover {
    background: rgb(69, 104, 40);
}

.form-contact-with-our button[type="submit"] {
    grid-column: 1/2;
    background: var(--primary);
    color: var(--white);
    font-size: 20px;
    border: none;
    outline: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 10px;
    justify-self: start;
}

.form-contact-with-our button[type="submit"]:hover {
    background: rgb(69, 104, 40);
}
input.error-input,
select.error-input {
    border: 2px solid #c20000;
    box-shadow: 0 0 4px #c20000;
}

.error-message {
    color: #c20000;
}

@media screen and (max-width: 910px) {
    ul.menu {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background: var(--primary);
        width: 40vw;
        height: 100vh;
        margin-top: 0;
        box-shadow: 0 0 8px var(--dark-primary);
        transform: translateX(-40vw);
    }

    .icon-menu {
        display: block;
    }
    .menu li.link-nav {
        border-radius: 0;
        padding: 10px 0;
    }
    .menu li.link-nav > a {
        color: var(--white);
    }

    .menu li.link-nav:hover {
        background: var(--white);
    }

    .menu li.link-nav:hover > a,
    .menu li.link-nav:hover > i.caret {
        color: var(--dark);
    }

    .menu li a {
        width: 40vw;
    }

    ul.menu li.link-nav:hover > ul.sub-menu {
        display: none;
    }

    .menu li.link-nav ul.sub-menu {
        width: 100%;
        position: relative;
        margin-left: 0px;
    }

    .menu li.link-nav ul.sub-menu li {
        margin: 0;
    }

    .menu li.link-nav ul.sub-menu li a {
        color: var(--dark-primary);
    }

    li.link-nav.link-nav-active {
        background: var(--white);
    }
    ul.menu li.link-nav .caret {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 18px 10px 0 0;
        cursor: pointer;
        color: #fff;
    }

    li.link-nav.link-nav-active > a,
    li.link-nav.link-nav-active > i.caret {
        color: var(--dark-primary);
    }

    .row-card {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .container-bienvenidos {
        flex-direction: column;
        align-items: center;
    }
    .container-bienvenidos img {
        width: 100%;
        object-fit: cover;
        height: 400px;
    }

    .container-bienvenidos .container-bienvenidos-text {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }

    .indicadores-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .col-1-footer {
        width: 100%;
    }

    .col-2-footer {
        margin-top: 40px;
    }
}

@media screen and (max-width: 740px) {
    .content-text-header h1 {
        font-size: 2.5rem;
    }

    .btn-header {
        padding: 15px;
        font-size: 10px;
    }
    .blog-row {
        grid-template-columns: repeat(1, 1fr);
    }
    .container-vacantes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 610px) {
    .content-text-header h6 {
        text-align: center;
    }

    .row-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-bienvenidos img {
        width: 80%;
        height: 300px;
    }

    .col-1-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-col-1-footer:nth-child(2) {
        margin-top: 10px;
    }

    .col-2-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-col-2-footer:nth-child(2) {
        margin-top: 20px;
    }

    .container-vacantes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .content-text-header h1 {
        font-size: 2rem;
    }

    section h1 {
        font-size: 20px;
    }

    section h1::before,
    section h1::after {
        display: none;
    }

    .row-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .title-footer {
        font-size: 20px;
    }

    .content-col-1-footer h1 {
        font-size: 15px;
    }

    .content-col-1-footer p {
        font-size: 12px;
    }

    .content-col-1-footer ul li a {
        font-size: 12px;
    }
    .content-col-2-footer h1 {
        font-size: 15px;
    }

    .content-col-2-footer p {
        font-size: 12px;
    }

    footer .btn-blog {
        padding: 15px;
        font-size: 12px;
    }
}
